.artist-preview {
    font-size: 16px;
    float: left;
    width: 100%;

    &.selected {
        .inner {
            // border: solid 2px #fff;
            .artist-thumbnail {
                opacity: 0.6;
            }
        }
        .related-artists {
            max-height: inherit;
            -webkit-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 9px 0px rgba(0,0,0,0.75);
        }
    }
    .inner {
        float: left;
        width: 100%;
        height: 200px;
        position: relative;
        background-color: #000;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;

        .artist-thumbnail {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            opacity: 0.3;
            z-index: 1;
            transition: 200ms ease-in;
            -moz-transition: 200ms ease-in;
            -webkit-transition: 200ms ease-in;
        }
        .artist-info {
            color: #fff;;
            position: relative;
            z-index: 2;
            margin-top: 1.5em;

            strong {
                font-size: 2em;
            }
            p {
                font-size: 1.5em;
            }
        }
    }
    .related-artists {
        max-height: 0px;
        position: relative;
        width: 100%;
        padding: 10px;
        float: left;
        transition: 200ms ease-in;
        -moz-transition: 200ms ease-in;
        -webkit-transition: 200ms ease-in;

        .title {
            font-size: 1.5em;
            margin: 0 0 0.7em 0;
        }
        .related-artist {
            margin-bottom: 0.7em;
        }
    }
    .no-related-artists {
        float: left;
        width: 100%;
        text-align: center;
    }
}